<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sistema_Granja.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sistema_Granja.Configuraciones"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Sistema_Granja.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <!-- En esta sección se agrega la lunea useLegacy para que funcione el crystal reports -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Sistema_Granja.My.MySettings.conMaster"
      connectionString="Data Source=GMSRSQL\NETDATASQL;Initial Catalog=master;User ID=sa;Password=Fresasc0ncrema" providerName="System.Data.SqlClient"/>
    <add name="Sistema_Granja.My.MySettings.BDGRANJAConnectionString"
      connectionString="Data Source=192.168.0.227\WMS;Initial Catalog=BDGRANJA;User ID=jduransql;Password=J0$emiguel003;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
    <add name="GRANJAEntities"
      connectionString="metadata=res://*/Datos.GranjaModel.csdl|res://*/Datos.GranjaModel.ssdl|res://*/Datos.GranjaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.227\WMS;initial catalog=BDGRANJA;user id=jduransql;password=J0$emiguel003;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
        initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Sistema_Granja.My.MySettings>
      <setting name="Color_Fondo" serializeAs="String">
        <value>Red</value>
      </setting>
    </Sistema_Granja.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Sistema_Granja.Configuraciones>
      <setting name="MostrarPanelRapido" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enviar_x_Correo" serializeAs="String">
        <value>True</value>
      </setting>
    </Sistema_Granja.Configuraciones>
    <Sistema_Granja.My.MySettings>
      <setting name="CUnitario_Setting" serializeAs="String">
        <value>Mensual</value>
      </setting>
      <setting name="pFechasWidth" serializeAs="String">
        <value>239</value>
      </setting>
      <setting name="recordarcredenciales" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usuario" serializeAs="String">
        <value/>
      </setting>
      <setting name="contraseña" serializeAs="String">
        <value/>
      </setting>
      <setting name="RibbonExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CargarTablero" serializeAs="String">
        <value>True</value>
      </setting>
    </Sistema_Granja.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
